  <h3>
    <span class="content"><%= link_to fail.name, fail %></span>
  </h3>
  <span class="timestamp">
      Posted <%= time_ago_in_words(fail.created_at) %> ago by <%= link_to fail.user.name, fail.user %>
  </span>
  <br />