<div class="row-fluid">
  <div class="span3">
    <h3>User</h3>
    <p>User: <%= @user.name %></p>
    <p>Email: <%= @user.email if @user.email %></p>
  </div>
  <div class="span6">
    <% if @user.fails.any? %>
      <h3>Fails (<%= @user.fails.count %>)</h3>
      <ol class="fails">
        <%= render @fails %>
      </ol>
    <% end %>
  </div>
</div>
