<% if signed_in? %>
  <div class="row-fluid">
    <aside class="span3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      </aside>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Fail Fast, Profit Faster</h1>

    <h2>
      Fail Bank is a community where people share their failures, get advice and support, and discover tools and resources to do better next time.c
    </h2>

  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %> 
